---
page_title: "{{ .Name }} {{ .Type }} - {{ .ProviderShortName }}"
description: |-
{{.Description}}
---

# {{ .Name }} ({{ .Type }})


{{if .HasExample}}
## Example Usage

{{tffile .ExampleFile}}
{{end}}

{{ .SchemaMarkdown | trimspace }}
