---
page_title: "Provider: {{ .ProviderShortName | upper }}"
description: |-
  
---

# {{ .ProviderShortName | upper }} Provider

## Example Usage

{{if .HasExample}}{{tffile .ExampleFile}}{{end}}

{{ .SchemaMarkdown | trimspace }}
